@using AdministracionActivosSobrantes.Assets
@using AdministracionActivosSobrantes.Details
@using AdministracionActivosSobrantes.HistoryChanges
@using AdministracionActivosSobrantes.OutRequest.Dto
@model IEnumerable<AdministracionActivosSobrantes.OutRequest.Dto.DetailAssetOutRequestDto>



<script>
   
    function deleteDetail(index) {
        ViewOutRequestVariable.removeDetailOutRequest(index);
    }
</script>
<div class="col-lg-12">
    @*<h4 class="text-center">
        Detalles de Activos de la Solicitud
    </h4>*@

        <table id="TableListDetalesEntity" class="table table-responsive"
               style="font-size: small">
            <thead>
                <tr>
                    <th style="text-align: center">
                        Nombre Activo
                    </th>
                    <th style="text-align: center">
                        Cantidad
                    </th>
                    <th style="text-align: center; display: none">
                        Precio
                    </th>
                    <th style="width: 15%; text-align: center;display: none">
                        Total
                    </th>
                    <th style="width: 15%; text-align: center;">
                        Estado
                    </th>
                    <th style="text-align: center">

                    </th>
                </tr>
            </thead>
            <script type="text/javascript">
                ViewOutRequestVariable.clearDetailOutRequestList();
            </script>

            <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <script type="text/javascript">
                        @{<text>ViewOutRequestVariable.addDetailOutRequest(@item.DetailId,'@item.AssetId', '@item.NameAsset', @item.StockAsset, '@item.Price', @item.AssetAvailability,@item.PreviousQty, @item.Saved, @item.Update, @item.Delete, @item.ErrorCode, '@item.ErrorDescription', @item.Index, '@item.Status');</text>}
</script>

                        var rowId = "tableRowId" + item.Index;
                        <tr id='@rowId'>
                            <td style="text-align: center">
                                @item.NameAsset
                            </td>
                            <td style="text-align: center">
                                @if (item.HistroryStatus != HistoryStatus.Removed)
                                {
                                    <input type="number" step="any" min="0.0" style="text-align: center" onchange="changeDetail(@item.Index, '@item.AssetId', '@item.NameAsset', @item.Price, @item.AssetAvailability)"  class="form-control input-sm" id='@("returnAssetQty" + item.AssetId)' value="@item.StockAsset" />
                                }
                                else
                                {
                                    <input type="number" step="any" min="0.0" style="text-align: center"  class="form-control input-sm" id='@("returnAssetQty" + item.AssetId)' value="@item.StockAsset" readonly="readonly" />
                                }
                                
                            </td>
                            <td style="text-align: center;display: none">
                                @item.Price
                            </td>
                            <td style="text-align: center;display: none">
                                @item.GetAssetAmount()
                            </td>
                            <td style="text-align: center">
                                @if (item.HistroryStatus == HistoryStatus.Modified)
                                {
                                    <span class="label label-warning">Modificado</span>
                                }
                                else if (item.HistroryStatus == HistoryStatus.WithoutChanges)
                                {
                                    <span class="label label-default">Sin Cambios</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Eliminado</span>
                                }
                                
                            </td>
                            <td>
                                @if (item.HistroryStatus != HistoryStatus.Removed)
                                {
                                    <a class="btn btn-xs btn-danger" onclick="deleteDetail(@item.Index)" title="Rechazar detalle de la Solicitud">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </a>
                                }
                               

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    

</div>